html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: Arial, sans-serif;
}

#map {
    z-index: 0;
    height: 100%;
}

#info {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: #d3d3d3;
    z-index: 1;
}

#info .header {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3rem;
}

#info .description {
    font-size: 0.85rem;
}

#info a {
    color: inherit;
}

.maplibregl-popup-content h1 {
    font-size: 1rem;
    line-height: 0.1rem;
}

.maplibregl-popup-content td {
    padding-right: 1.25rem;
}
